<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lr.com.wallet"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/wallet_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wallet_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainFragmentActivity"
            android:theme="@style/MainThem"></activity>
        <activity android:name=".activity.TxActivity"></activity>
        <activity android:name=".activity.AddressShowActivity"></activity>
        <activity android:name=".activity.CoinInfoActivity"></activity>
        <activity android:name=".activity.CreateWalletActivity"></activity>
        <activity android:name=".activity.ImportActivity"></activity>
        <activity android:name=".activity.TxInfoActivity"></activity>
        <activity android:name=".activity.CoinAddActivity"></activity>
        <activity android:name=".activity.WalletInfoActivity"></activity>
        <activity android:name=".activity.UpdatePassActivity"></activity>
        <activity android:name=".activity.CopyPrvActivity"></activity>
        <activity android:name=".activity.CopyKeyStoreActivity"></activity>
        <activity android:name=".activity.CopyMnemonicActivity"></activity>
        <activity android:name=".activity.CoinAddByContractActivity"></activity>
        <activity android:name=".activity.CreateShowMnemonicActivity"></activity>
        <activity android:name=".activity.BackupMnemonicActivity"></activity>
    </application>

</manifest>